<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24048989350-3u614gdbqhj7o6n7muuitfbor6ee196a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24048989350-3u614gdbqhj7o6n7muuitfbor6ee196a</string>
	<key>API_KEY</key>
	<string>AIzaSyDNYzmsphB3slWEYjKqvrS5LZqU4bs3fP8</string>
	<key>GCM_SENDER_ID</key>
	<string>24048989350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.AIChatAppiOS</string>
	<key>PROJECT_ID</key>
	<string>aichatapp-96ba9</string>
	<key>STORAGE_BUCKET</key>
	<string>aichatapp-96ba9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24048989350:ios:306f532ddd8d34f209f067</string>
</dict>
</plist>